$body-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif
$title-weight: 900

$menu-item-active-background-color: #1EA2AD
$menu-nested-list-padding-left: 0.25em

@import "bulma/sass/utilities/_all.sass"
@import "bulma/sass/base/_all.sass"

@import "bulma/sass/layout/footer.sass"
@import "bulma/sass/layout/section.sass"

@import "bulma/sass/elements/box.sass"
@import "bulma/sass/elements/container.sass"
@import "bulma/sass/elements/content.sass"
@import "bulma/sass/elements/title.sass"

@import "bulma/sass/components/menu.sass"
@import "bulma/sass/components/modal.sass"
@import "bulma/sass/components/navbar.sass"

// Seems buggy?
// html
//   scroll-behavior: smooth

=sticky-sidebar
  +tablet
    position: sticky
    top: 3rem
    align-self: flex-start
  &:not(.is-active)
    +mobile
      display: none

body
  display: flex
  flex-direction: column
  min-height: 100vh
  
  .navbar
    .navbar-brand .navbar-item
      font-weight: 900
      font-size: 1.5em
  
  main
    flex: 1
  
  .page-wrapper
    +tablet
      display: flex
    &> .content
      flex: 1
  
  .sitetree
    +sticky-sidebar
    flex: 0 0 250px
    margin-right: 1em
    
    li > .menu-label
      margin-top: 1em
  
  .menu-list a
    padding-left: 0
  
  .menu-list li ul
    margin-left: 0.25em
  
  .pagetree
    +sticky-sidebar
    flex: 0 0 250px
    margin-left: 0.5em
    padding-left: 0.5em
    border-left: 2px dashed $border
    
    li
      list-style: none
      margin: 0
      font-weight: bold
      a
        display: block
        padding: .25em .25em
      @for $i from 2 through 6
        &.level-#{$i}
          margin-left: ($i - 2) * 1em
      a
        color: $grey-darker
        &:hover
          background-color: $background

  .modal
    justify-content: flex-start
    .box
      margin: 4em 1em

  .footer
    padding: 3rem 1rem 2rem
    color: $grey
    font-size: 0.95rem
    font-weight: 600
    text-align: center
    a
      color: $grey-dark
      text-decoration: underline $grey-lighter
